{% extends 'base.html' %}

{% block title %}Flask Feedback{% endblock %}

{% block content %}
<p>Not a user?<a href="/register">Click here </a></p>

<h1>Log in</h1>
<form method = "POST">
    {{ form.hidden_tag() }}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_='form-control')}}
        {% for err in field.errors %}
        {{err}}
        {% endfor %}
        <br>
    </p>
    {% endfor %}
        
    <button class ="btn btn-large btn-success" type ="submit">Submit</button>
    </form>

{% endblock %}